<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <title>ГЛАВНАЯ</title>
  </head>
  <body>
    <h1>HAUCHRUK TYT!</h1>
    <div class="container">
        <form class="form" method="get" action="/search">
            <input type="search" name="query" class="form-control">
            <button type="submit" class="btn btn-primary">Search</button>
        </form>
    </div>
    <h2><a href="https://github.com/dstsimokha/nauchruk">Ссылка на наш репозиторий</a></h2>
    <h2><a href="{{ url_for('about') }}">Про наш проект</a></h2>
  </body>
</html>
